<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="file in files"
						ng-class="{active: file.name === currentFile.name, 'section-title': file.type === 'section'}">
						<a ng-if="file.type === 'file'" class="listfiles file-link"
						   ui-sref="{{ $state.current.name + '({file:\'' + file.slug + '\'})' }}">
							{{ file.name }}
						</a>
						<span ng-if="file.type === 'section'">{{ file.name }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="docu markdown" marked="currentFile.content">
				</div>
			</div>
		</div>
	</div>
</div>