[Desktop Entry]
Name=Elektra Qt Editor
GenericName=Qt Configuration Editor for Elektra
Comment=Directly edit your entire Elektra configuration with a Qt GUI
TryExec=elektra-qt-editor
Exec=elektra-qt-editor
Terminal=false
Type=Application
Icon=elektra
Categories=Elektra;System;Configuration;
