/**
 * @file
 *
 * @brief main stylesheet for the elektra-web client application
 *
 * @copyright BSD License (see LICENSE.md or https://www.libelektra.org)
 */

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('/Roboto-Light.ttf');
}

body {
  margin: 0;
  height: 100%;
  background-color: rgba(232, 232, 232, 0.1);
}

@media (max-width: 950px) {
  .breadcrumb { /* hide breadcrumb on small screens */
    display: none;
  }
}

input {
  outline-color: #00BCD4;
  transition: outline 0.1s;
}

h1 {
  font-family: 'Roboto Light';
  font-size: 24px;
  line-height: 30px;
}

h1 b {
  font-family: 'Roboto';
}

.hoverEffect {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.hoverEffect:hover {
  opacity: 1;
}

.titleText {
  display: inline-flex;
}

.titleText small {
  padding-left: 0.5em;
  font-size: small;
}

@keyframes fade {
  from { opacity: 1 }
  to { opacity: 0.6 }
}

.errorSnackbar {
  animation-name: fade;
  animation-duration: 30s;
}
