{
  "parser": "babel-eslint",
  "plugins": [ "react" ],
  "extends": [
    "standard",
    "plugin:react/all"
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
  },
  "env": { "browser": true },
}
