<style type="text/css">

body, .article, .titlepage, .toc, .section, .appendix, .glossary {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 11px;
}


/* Titlepage stuff */

.titlepage .title {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 26px;
	color: #ff6600;
	text-align: left;
}

.titlepage .pubdate {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 14pt;
}




/* Author related stuff */

.authorgroup {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 11px;
	margin-left: 30pt;
	margin-top: 10pt;
	margin-bottom: 0pt;
	border-left-style: dotted;
	border-width: 1pt;
	border-color: #ff9933;
	padding-left: 10pt;
}

h3.author {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 14px;
	margin-top: 15pt;
	margin-bottom: 0pt;
}

.contrib {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 11px;
	text-align: justify;
}




/* Table of Contents rendering */

div.toc {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 18px;
	margin-bottom: 50pt;
	margin-left: 60pt;
}

.toc p {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 26px;
	color: #6565FF;
}

.toc dl dt {
	font-family: Verdana, Helvetica, Lucida, Arial;
	margin-left: 20pt;
	font-size: 18px;
	color: #ff6600;
}

.toc dl dt a {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 18px;
	color: #ff6600;
}

.toc dl dd dl dt {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 16px;
	margin-left: 0pt;
	color: #ff9933;
}

.toc dl dd dl dt a {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 16px;
	color: #ff9933;
}





/* Section and appendix stuff */

.section, .appendix, .glossary {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 11px;
	text-align: justify;
	/* margin-top: 50pt; */
	margin-bottom: 0pt;
	margin-left: 15pt;
	margin-right: 30pt;
}

/* Nested sections */
.section .section, .appendix .appendix {
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 10pt;
}

.section .titlepage .title, .appendix .title, .glossary .title {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 22px;
	color: #ff6600;
	margin-top:0pt;
	border-top-style: dotted;
	border-width: 1pt;
	border-color: #6565FF;
}


.section .section .titlepage .title {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 18px;
	color: #ff9933;
	margin-top:0pt;
	border-top-style: dotted;
	border-width: 1pt;
	border-color: #6565FF;
}

.bridgehead {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 18px;
	color: #ff9933;
	margin-bottom: 0pt;
}



/* Tips, warnings, etc */

.note p, .tip p, .important p, .warning p, .caution p {
	color: #ff9933;
}




/* Tables, examples and screens rendering */

.table .title, .example .title, .figure .title {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 11px;
	color: black;
	border: 0pt;
	margin: 0pt;
	margin-top: 5pt;
}

.glossary dt {
	font-weight: bold;
}

.table table {
	background-color: #FFF7EA;
}

.table table th {
	font-family: Tahoma, Verdana, Helvetica, Lucida, Arial;
	font-size: 11px;
	color: black;
	border-width: 0pt;
	border-bottom-width: 2pt;
	border-style: solid;
	border-color: #6565FF;
}

.table table td {
	font-family: Tahoma, Verdana, Helvetica, Lucida, Arial;
	font-size: 11px;
	color: black;
	border-width: 0pt;
	border-bottom-width: 1pt;
	border-style: solid;
	/*background: #FFF7EA;*/
}

.table table td .strong em {
	font-family: Tahoma, Verdana, Helvetica, Lucida, Arial;
	font-size: 11px;
	font-weight: bold;
}

.programlisting, .screen {
	font-family: lucidatypewriter, lucida console, courier, tahoma;
	font-size: 12px;
	color: #555555;
	background-color: #FFF7EA;
	border-width: 2pt;
	border-style: solid;
	border-color: #CCCCCC;
}

.variablelist dt {
	margin-top: 20pt;
}



/* Inline elements rendering */

.command {
	color: #298952;
}

p {
	font-family: Verdana, Helvetica, Lucida, Arial;
	font-size: 11px;
	text-align: justify;
}

.filename, .envar, tt {
	font-family: lucidatypewriter, lucida console, courier, tahoma;
	/*	font-size: 10px; */
}

a:link {
	text-decoration: none;
}

a:active {
	color: blue;
}

a:visited {
	color: #3355cc;
	text-decoration: none;
}

a:hover {
	color: #4477cc;
	text-decoration: underline;
}



/* Misc */

hr {
	border-color: #6565FF;
}

ul li {
	list-style-image: url(images/img_arrow.png);
}

/*Textstrukturierung*/

body {
	text-align: left;
	margin: 5px;
	padding: 5px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.8em;
}

h1 {
	font-size: xx-large;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;	
	color: gray;
	font-variant: small-caps; 
}

h2 {
	font-size: x-large;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;
	color: gray;
	font-variant: small-caps; 
}

h3 {
	font-size: large;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style:italic;
	color: gray;
	font-variant: small-caps; 
}

strong {
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;
	color: gray;
}

/*Eigene Textstrukturierungen*/

.mytop {
	font-family: verdana, arial, helvetica, sans-serif;
	padding:3px 15px 3px 15px;
	text-decoration:none;
	background-color:white;
	border:1px solid #d5e7ec;
	border-right:4px solid #0055aa;
	text-align:right;
}


/*Links untersstreichungen weg
	(ist bei konqueror so default)*/

a {
	text-decoration: none;
}

a img {
	border:0;
}

a:link {
	color:blue;
}

a:visited {
	color:blue;
}

a:hover {
	text-decoration: underline;
}

/*Bilderplazierungen*/
	
.pic_banner {
	padding: 10px;

	padding-top: 0px;
	padding-bottom: 0px;
}

.pic_logo {
	margin:  5px;
	padding: 5px;
}

.pic_date {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: xx-small;
}

.pic_tr {
	margin: 0;
	padding: 0;
}

/*Layout*/

.mytable {
	border-spacing: 0;
	width: 100%;
	border: 0;
}

.myheader {
	background-color: #e0e4ff;
}

.mylogo {
	background-color: #e0e4ff;
}

.mysidebar {
	padding-left: 20px;
	padding-right: 20px;
	background-color: #e0e4ff;
}

.mynavigator {
	padding:1.5em 1.5em 1.5em 1.5em;
}

.mynavigator ul {
	margin:0;
	padding:0;
}

.mysmaller {
	text-align: left;
	margin-left: 15px;
	margin-bottom: 15px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.8em;
	list-style-type: none;
}

.mybody {
	background-color: white;
}

.mydate {
	background:url("pic/nav/ro.gif") top right no-repeat;
	background-color: #c4ccff;
}

.mybottom {
	background-color: #e0e4ff;
}

/*Navigationsbox*/

.ro {
	background:url("pic/nav/ro.gif") top right no-repeat;
}

.lo {
	background:url("pic/nav/lo.gif") top left no-repeat;
}

.ru {
	background:url("pic/nav/ru.gif") bottom right no-repeat;
}

.lu {
	background:url("pic/nav/lu.gif") bottom left no-repeat;
}

/*Navigation*/

.file_txt {
	background-color: #c4ccff;
	list-style-type: none;
}

.file_bin {
	background-color: #c4ccff;
	list-style-type: none;
}

.file_html {
	background-color: #c4ccff;
	list-style-type: none;
}

.file_folder {
	background-color: #c4ccff;
	list-style-type: none;
}


.file_selected {
/*blau:	background-color: #87C3FF;*/
	background-color: #159d0f;

	list-style-type: none;
}


.file_html:hover {
	background-color: #159d0f;
	list-style-type: none;
}
.file_folder:hover{
	background-color: #159d0f;
	list-style-type: none;
}



/*Newssytem*/

.newsheading {
	text-align: left;
	margin: 5px;
	padding: 5px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.8em;
	background-color: #87C3FF;
}

.newsfooting {
	text-align: left;
	margin: 5px;
	padding: 5px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 0.8em;
}

/*You are here Anzeige*/

#list ul{
	margin:0;
	padding:5px;
	list-style:none;
	white-space: nowrap;
	text-align:right;
}

#list li{
	display:inline;
	text-align:right;
}

#list a{
	color:#006595;
	font:normal 12px arial,sans-serif;
	padding:3px 15px 3px 15px;
	text-decoration:none;
	background-color:#fafafa;
	border:1px solid #d5e7ec;
	border-left:4px solid #d5e7ec;
	text-align:right;
}

#list a:hover{
	color:#006595;
	background-color:#fafafa;
	border:1px solid #008996;
	border-left:4px solid #008996;
	text-align:right;
}

/**New style by Denis Huentz from http://www.studio-hb.com*/

body{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;margin: 0;
	padding: 0;
}

#header{
	height: 100px;
	background-image:url(images/header_repeat.jpg);
	background-repeat:repeat-x
}

#conteneur {
	position: absolute;
	width: 100%;
}

#centre {
	margin-left: 180px;
	min-height:380px;
	background-image:url(images/fond_bloc_text.gif); 
	background-position:left top;
	background-repeat:no-repeat;
	padding-top:15px;padding-left:35px;
	padding-bottom:20px;font-family:Arial,Helvetica,sans-serif;
	font-size:12px;color:#666;
}

#gauche {
	position: absolute;
	left:0;width: 150px;
}

#mydate {
	clear:both;
	position:absolute;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;color:#666; 
	left:10px;
}

h1{
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	color:#060;
	text-indent:-8px;
}

h2{
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;color:#f90;
	text-indent:-8px;
	margin-bottom:8px;
}

a{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;color:#009;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}


#bloc_liens_conteneur {
	position:absolute;
	clear:both;
	margin-top:8px;
	margin-left:10px;
	width:150px;
	border:1px solid #ccc}

#bloc_liens_conteneur_intro {
	margin-top:5px;
	margin-left:0px;
	width:150px;
	border:1px solid #ccc
}

#file_selected { 
	border:1px solid #f90;height:20px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;color:#333; 
	padding-left:18px; padding-top:7px; 
	background-image:url(images/arrow.gif); 
	background-position:left; 
	background-repeat:no-repeat
}

#navcontainer ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navcontainer li {margin: 0 0 .1em .0em; }

#navcontainer a{ 
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	display: block;color: #666; 
	background-image:url(images/mv_repeat_h.gif); 
	background-repeat:repeat-x;
	width:138px;
	padding: .3em .5em;
	text-decoration: none;
}

#mysmaller {
	text-align: left;
	margin-left: 15px;
	margin-bottom: 15px;
	font-family: Arial, helvetica, sans-serif;
	font-size: 0.8em;
	list-style-type: none;
}

#mysmaller ul{
	margin-left: 15px;
	padding-left: 15px;
	list-style-type: none;
}

#mysmaller li {margin: 0 0 .1em .0em; }


#navcontainer a:hover{
	background-image:url(images/mv_repeat_h_on.gif);
	background-repeat:repeat-x;color: #333;
}

#pied {
	clear:both;
	height: 60px;
	background-image:url(images/footer.jpg); background-repeat:repeat-x; 
	padding-top:8px:
}

.menugauche {list-style-type: none;margin: 0;padding:0;}
.menugauche li {margin-bottom: 5px;}
.menugauche a {margin: 0 2px;color: #000000;text-decoration: underline;}
.menugauche a:hover {text-decoration: none;}

.pic_banner {
	padding-right: 10px; padding-top:0px; 
	border:0px
}

#pic_banner { position:absolute;left:180px}

#mytop {
	font-family: verdana, arial, helvetica, sans-serif;
	padding:3px 15px 3px 15px;
	text-decoration:none;
	background-color:white;
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #ccc;text-align:left; 
	background-image:url(images/top.gif); 
	background-repeat:no-repeat; 
	background-position:left
}

</style>

