Source: elektra
Section: misc
Priority: optional
Maintainer: Pino Toscano <pino@debian.org>
Build-Depends: debhelper (>= 9),
 dh-python,
 dh-exec,
 cmake (>= 3.4),
 pkg-config (>= 0.9.0),
 libboost-dev,
 libdbus-1-dev,
 libzmq3-dev,
 libyajl-dev,
 libxml2-dev,
 libaugeas-dev (>= 1.0.0),
 qtbase5-dev,
 qtdeclarative5-dev,
 libmarkdown2-dev,
 discount,
 swig3.0,
 flex,
 bison,
 dh-lua,
 python-all,
 python3-all,
 libsystemd-journal-dev | libsystemd-dev,
 liblua5.2-dev,
 libssl-dev,
 libgcrypt20-dev,
 libcurl4-nss-dev | libcurl4-gnutls-dev | libcurl4-openssl-dev | libcurl-dev,
 libcurl3 (>= 7.28.0) | libcurl4,
Build-Depends-Indep:
 doxygen,
 graphviz,
Standards-Version: 3.9.8
Homepage: http://www.libelektra.org/
Vcs-Browser: https://github.com/ElektraInitiative/libelektra
Vcs-Git: https://github.com/ElektraInitiative/libelektra.git
Testsuite: autopkgtest

Package: libelektra4-all
Architecture: any
Depends: libelektra4, libelektra4-experimental, libelektra4-gen,
  libelektra4-augeas, libelektra4-dbus, libelektra4-zeromq, libelektra4-lua,
  libelektra4-python, libelektra4-xmltool, libelektra4-xerces, libelektra4-yajl,
  lua-elektra, elektra-bin, elektra-qt-gui,
  libelektra4-crypto, libelektra4-curl, libelektra4-journald, libelektra4-extra
Recommends: elektra-tests, elektra-doc, elektra-dbg, libelektra-dev
Description: Elektra configuration store
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package provides the dependencies for all Elektra packages.

Package: libelektra4
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
 ${misc:Depends}
Breaks: elektra-bin (<< 0.8.14-5~), libelektra-core4 (<< 0.8.19-1), libelektra-full4 (<< 0.8.19-1)
Replaces: elektra-bin (<< 0.8.14-5~), libelelektra-core4 (<< 0.8.19-1), libelektra-full4 (<< 0.8.19-1)
Suggests: elektra-doc, ${elektra:allPlugins}
Description: Elektra configuration store, main library
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the main elektra library, and most of the core plugins.

Package: libelektra4-full
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
 ${misc:Depends}
Breaks: elektra-bin (<< 0.8.14-5~), libelektra-core4 (<< 0.8.19-1), libelektra-full4 (<< 0.8.19-1)
Replaces: elektra-bin (<< 0.8.14-5~), libelelektra-core4 (<< 0.8.19-1), libelektra-full4 (<< 0.8.19-1)
Conflicts: libelektra4 (<< ${binary:Version}), elektra-tests (<< ${binary:Version})
Suggests: elektra-doc, ${elektra:allPlugins}
Description: Elektra configuration store, main library
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains an variant of the Elektra library in which all plugins
 are linked together to a full library. The package is only needed for testing.

Package: libelektra4-experimental
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
 ${misc:Depends}
Breaks: elektra-bin (<< 0.8.14-5~), libelektra-core4 (<< 0.8.19-1)
Replaces: elektra-bin (<< 0.8.14-5~), libelelektra-core4 (<< 0.8.19-1)
Suggests: elektra-doc, ${elektra:allPlugins}
Description: Elektra configuration store, experimental plugins
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains experimental plugins.

Package: libelektra4-extra
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
 ${misc:Depends}
Breaks: elektra-bin (<< 0.8.14-5~), libelektra-core4 (<< 0.8.19-1)
Replaces: elektra-bin (<< 0.8.14-5~), libelelektra-core4 (<< 0.8.19-1)
Suggests: elektra-doc, ${elektra:allPlugins}
Description: Elektra configuration store, experimental plugins
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains extra plugins.

Package: libelektra4-gen
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${python:Depends},
 ${misc:Depends},
 python-cheetah
Breaks: libelektra-gen (<< 0.8.19-1)
Replaces: libelelektra-gen (<< 0.8.19-1)
Description: Elektra configuration store, gen plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains gen plugin.

Package: libelektra-dev
Section: libdevel
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Elektra configuration store, main library [development]
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the development files for the main Elektra library.

Package: libelektra4-augeas
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Replaces: libelektra-augeas4 (<< 0.8.19-1)
Breaks: libelektra-augeas4 (<< 0.8.19-1)
Description: Elektra configuration store, augeas plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'augeas' plugin.

Package: libelektra4-dbus
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Replaces: libelektra-dbus4 (<< 0.8.19-1)
Breaks: libelektra-dbus4 (<< 0.8.19-1)
Description: Elektra configuration store, dbus plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'dbus' plugins.

Package: libelektra4-zeromq
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Elektra configuration store, zeromq plugins
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'zeromq' plugins.

Package: libelektra4-lua
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Elektra configuration store, lua plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'lua' plugin.

Package: libelektra4-python
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 python3-elektra,
 ${shlibs:Depends},
 ${misc:Depends}
Replaces: libelelektra-python4 (<< 0.8.19-1)
Breaks: libelektra-python4 (<< 0.8.19-1)
Description: Elektra configuration store, python plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'python' plugin.

Package: libelektra4-xmltool
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Replaces: libelektra-xmltool4 (<< 0.8.19-1)
Breaks: libelektra-xmltool4 (<< 0.8.19-1)
Description: Elektra configuration store, xmltool plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'xmltool' plugin.

Package: libelektra4-xerces
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Replaces: libelektra-xerces4 (<< 0.8.19-1)
Breaks: libelektra-xerces4 (<< 0.8.19-1)
Description: Elektra configuration store, xerces plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'xerces' plugin.

Package: libelektra4-yajl
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Replaces: libelektra-yajl4 (<< 0.8.19-1)
Breaks: libelektra-yajl4 (<< 0.8.19-1)
Description: Elektra configuration store, yajl plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'yajl' plugin.

Package: libelektra4-crypto
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Elektra configuration store, crypto plugins
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the crypto plugins.

Package: libelektra4-curl
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Elektra configuration store, curlget plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'curlget' plugin.

Package: libelektra4-journald
Section: libs
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Elektra configuration store, journald plugin
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the 'journald' plugins.

Package: lua-elektra
Section: interpreters
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Elektra configuration store, Lua bindings
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the Lua bindings.

Package: python3-elektra
Section: python
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${python3:Depends},
 ${misc:Depends}
Description: Elektra configuration store, Python 3 bindings
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the Python 3 bindings.

Package: python-elektra
Section: python
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${python:Depends},
 ${misc:Depends}
Description: Elektra configuration store, Python 2.x bindings
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the Python 2.x bindings.

Package: elektra-bin
Architecture: any
Multi-Arch: foreign
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Replaces: libelektra-bin (<< 0.8.19-1), libelektra-full4 (<< 0.8.19-1)
Breaks: libelektra-bin (<< 0.8.19-1), libelektra-full4 (<< 0.8.19-1)
Conflicts: kernel-patch-kdb
Description: Elektra configuration store, binaries
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains command line utilities for Elektra.

Package: elektra-bin-extra
Architecture: any
Multi-Arch: foreign
Conflicts: elektra-bin (<< ${binary:Version})
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends},
 python-all
Description: Elektra configuration store, binaries
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains extra command line utilities for Elektra
 written in non-shell languages like python.

Package: elektra-qt-gui
Architecture: any
Depends: libelektra4 (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends},
 qml-module-qtquick2, qml-module-qtquick-window2,
 qml-module-qtquick-controls-styles-breeze, qml-module-qtquick-dialogs,
 qml-module-qt-labs-folderlistmodel, qml-module-qt-labs-settings
Description: Elektra configuration store, Qt gui
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains a Qt-based graphical interface for Elektra.

Package: elektra-tests
Priority: extra
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libelektra4-full (= ${binary:Version}),
 elektra-bin (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Replaces: libelektra-test (<< 0.8.19-1), libelektra-full4 (<< 0.8.19-1)
Breaks: libelektra-test (<< 0.8.19-1), libelektra-full4 (<< 0.8.19-1)
Description: Elektra configuration store, tests
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the Elektra test suite.

Package: elektra-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Replaces: libelektra-doc (<< 0.8.19-1)
Breaks: libelektra-doc (<< 0.8.19-1)
Description: Elektra configuration store, API documentation
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the API documentation for the Elektra libraries.

Package: elektra-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends: libelektra4 (= ${binary:Version}),
 ${misc:Depends}
Description: Elektra configuration store, debug symbols
 Elektra provides a universal and secure framework to store configuration
 parameters in a hierarchical key-value pair mechanism, instead of each
 program using its own text configuration files. This allows any program
 to read and save its configuration with a consistent API, and allows
 them to be aware of other applications' configurations, permitting
 easy application integration. While architecturally similar to other OS
 registries, Elektra does not have most of the problems found in those
 implementations.
 .
 This package contains the debug symbols for all the Elektra components.
