#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Make sure libelektra is built before packages depending on it
binary/libelektra-bin binary/libelektra-dev:: binary/libelektra

# Which plugins and tools should be built
ELEKTRA_PLUGINS='ALL;-python;-EXPERIMENTAL;mozprefs'
ELEKTRA_TOOLS='ALL'
ELEKTRA_BINDINGS='cpp;swig_lua;swig_python2;intercept'

#workaround for hardening flags
CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

CMAKE_FLAGS = \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DTARGET_PLUGIN_FOLDER=elektra4 \
	-DPLUGINS="$(ELEKTRA_PLUGINS)" \
	-DTOOLS="$(ELEKTRA_TOOLS)" \
	-DBINDINGS="$(ELEKTRA_BINDINGS)" \
	-DKDB_DB_SYSTEM:PATH="/etc/kdb" \
	-DKDB_DB_HOME:PATH="/home" \
	-DKDB_DB_USER:PATH=".config" \
	-DINSTALL_DOCUMENTATION=ON \
	-DTARGET_DOCUMENTATION_HTML_FOLDER=share/doc/libelektra-doc/html \
	-DSWIG_EXECUTABLE=/usr/bin/swig3.0 \
	-DENABLE_TESTING=ON \
	-DINSTALL_TESTING=ON \
	-DENABLE_KDB_TESTING=OFF \
	-DBUILD_PDF=OFF \
	-DBUILD_FULL=ON \
	-DBUILD_STATIC=ON \
	-DTARGET_TEST_DATA_FOLDER=share/libelektra-test/test-data \
	-DCMAKE_C_FLAGS="$(CFLAGS)" \
	-DCMAKE_CXX_FLAGS="$(CXXFLAGS)" \
	-DCMAKE_EXE_LINKER_FLAGS="$(LDFLAGS)" \
	-DCMAKE_MODULE_LINKER_FLAGS="$(LDFLAGS)" \
	-DCMAKE_SHARED_LINKER_FLAGS="$(LDFLAGS)"

%:
	dh $@ --buildsystem=cmake --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_auto_test:
	ctest --force-new-ctest-process --output-on-failure -E testabi_ks -E test_array
