#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Which plugins and tools should be built
ELEKTRA_PLUGINS='ALL;mozprefs;multifile;-gitresolver;-jni;-ruby;-haskell;-yamlcpp;toml'
ELEKTRA_TOOLS='ALL'
ELEKTRA_BINDINGS='cpp;lua;python;INTERCEPT'

#workaround for hardening flags
CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

PY3VER = $(shell py3versions -d -v)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

CMAKE_ARGS = -DLIB_SUFFIX="/$(DEB_HOST_MULTIARCH)" \
  -DTARGET_PLUGIN_FOLDER="elektra4" \
  -DBUILD_STATIC=OFF \
  -DPython_ADDITIONAL_VERSIONS="$(PY3VER)" \
  -DGTEST_ROOT="/usr/src/gtest" \
  -DCMAKE_INSTALL_PREFIX=/usr \
  -DPLUGINS="$(ELEKTRA_PLUGINS)" \
  -DTOOLS="$(ELEKTRA_TOOLS)" \
  -DBINDINGS="$(ELEKTRA_BINDINGS)" \
  -DKDB_DB_SYSTEM:PATH="/etc/kdb" \
  -DKDB_DB_HOME:PATH="/home" \
  -DKDB_DB_USER:PATH=".config" \
  -DINSTALL_DOCUMENTATION=ON \
  -DTARGET_DOCUMENTATION_HTML_FOLDER=share/doc/libelektra-doc/html \
  -DSWIG_EXECUTABLE=/usr/bin/swig3.0 \
  -DPYTHON_EXECUTABLE:PATH=/usr/bin/python3 \
  -DENABLE_TESTING=ON \
  -DINSTALL_TESTING=ON \
  -DENABLE_KDB_TESTING=OFF \
  -DINSTALL_SYSTEM_FILES=ON \
  -DBUILD_PDF=OFF \
  -DBUILD_FULL=ON \
  -DTARGET_TEST_DATA_FOLDER=share/libelektra-test/test-data \
  -DCMAKE_C_FLAGS="$(CFLAGS)" \
  -DCMAKE_CXX_FLAGS="$(CXXFLAGS)" \
  -DCMAKE_EXE_LINKER_FLAGS="$(LDFLAGS)" \
  -DCMAKE_MODULE_LINKER_FLAGS="$(LDFLAGS)" \
  -DCMAKE_SHARED_LINKER_FLAGS="$(LDFLAGS)"

EMPTY =
SPACE = $(EMPTY) $(EMPTY)
COMMA_SPACE = ,$(SPACE)
PKGS_ALL_PLUGINS = $(subst $(SPACE),$(COMMA_SPACE),$(filter libelektra4-%,$(shell dh_listpackages)))

export DEB_LDFLAGS_MAINT_APPEND := -Wl,--as-needed

%:
	dh $@ --parallel --buildsystem=cmake --with lua,python3

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- $(CMAKE_ARGS)

override_dh_auto_test:
ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
	cd obj-* && ctest --output-on-failure -LE kdbtests
endif

override_dh_auto_install:
	dh_auto_install
	find $(CURDIR)/debian/tmp \( -name '*.map' -o -name '*.md5' \) -delete

override_dh_install:
	dh_install --list-missing

override_dh_compress:
	dh_compress -X.lua -Xexamples

override_dh_strip:
	dh_strip --dbg-package=elektra-dbg

override_dh_makeshlibs:
	dh_makeshlibs -Xusr/lib/$(DEB_HOST_MULTIARCH)/elektra4 -Xlibelektragetenv.so

override_dh_shlibdeps:
	# to find libelektragetenv.so
	dh_shlibdeps -l$(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/ --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_gencontrol:
	dh_gencontrol -- -Velektra:allPlugins='$(PKGS_ALL_PLUGINS)'
